.card {
    height: 16em;
    margin: 1em;
    background-color: #0B5394; 
    border: 3px solid #FFFFFF; 
    border-radius: 5px; 
    padding: 0.2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card img {
    background-color: #0B5394; 
    border: 3px solid #FFFFFF; 
    border-radius: 5px;
    height:70%;
}

.card h3 {
    font-size: 2em;
    margin:0.2em 0 0 0;
}