@font-face {
  font-family: "Pixel";
  src: url("/public/Reactor7.woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  font-family: "Pixel", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 1em;
  text-shadow: 2px 2px #2c2c2c;

  color-scheme: light dark;
  color: #F5F5F5;
  background-color: #2E2B2A;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin:0;
  padding:0;
  box-sizing: border-box;
  min-height: 100vh;
}




